/*Navbar*/
nav{
    background-color: #20496e
}
.coucou{
    margin-left: 300px;
}
/*Section 1*/
.section_A{
    background-color: #e2e0e0;
}
.text-là{
   color: #e2e0e0;
}

/*Cards*/
.card-img-top{
    height: 150px;
    align-items: center;
}
.bg{
    background-color:#20496e;
    color: white;
}
/*footer*/
footer{
     background-color: #3676bb;
    color: #ffffff
}
.footer_img{
    width: 300px;
}